@model Project.Areas.Identity.Data.Vehicle

@{
    ViewData["Title"] = "AddVehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color: #ff7900;">Add Vehicle</h1>

<div class="row">
    <div class="col-md-4">
        <div style="color: #ffffff!important;">
            <form asp-action="AddVehicle" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Manufacturer" class="control-label"></label>
                    <input asp-for="Manufacturer" class="form-control" />
                    <span asp-validation-for="Manufacturer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Model" class="control-label"></label>
                    <input asp-for="Model" class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreationYear" class="control-label"></label>
                    <input asp-for="CreationYear" class="form-control" />
                    <span asp-validation-for="CreationYear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Milage" class="control-label"></label>
                    <input asp-for="Milage" class="form-control" />
                    <span asp-validation-for="Milage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastMaintainanceDate" class="control-label"></label>
                    <input asp-for="LastMaintainanceDate" class="form-control" />
                    <span asp-validation-for="LastMaintainanceDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-outline-warning" name="Add Vehicle" />
                    <a class="btn btn-dark ml-5" asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
